<html>
<head>
</head>
<body>
<center>
    {% if user.is_authenticated %}
    <h2> Welcome {{user.username}} </h2>
    {% endif %} <br>
Students Details
    <table border = "2px">
        <thead>
        <th> id </th>
        <th> Name </th>
        <th> Mobile </th>
        <th> Email </th>
        <th> Address </th>
        <th> Gender </th>
        <th> Country</th>
        <th> Marks_percentage </th>

        </thead>
        {% for i in student_data %}
        <tr>
            <td> {{i.id}}</td>
            <td> {{i.Name}}</td>
            <td> {{i.Mobile}} </td>
            <td> {{i.email}} </td>
            <td> {{i.Address}} </td>
            <td> {{i.Gender}} </td>
            <td> {{i.Country}} </td>
            <td> {{i.Marks_percentage}} </td>
<!--            <td> <a href = '/student1/edit/{{i.id}}'> Edit </a> </td>-->
<!--            <td> <a href = '/student1/delete/{{i.id}}'> Delete </a> </td>-->

        </tr>
        {% endfor %}
    </table>

<!--    {% if user.is_authenticated %}-->
<!--           <a href = '/student1/logout/'> Logout </a><br>-->
<!--    {% endif %}-->

<!--    <a href = '/student1/info/'> Information </a><br>-->

</center>
</body>
</html>
